.Page {
  background-color: #252c33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eee;
}

.App {
  background-color: #3a4750;
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid #f6c90e;
}

.alingCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alingRight {
  align-self: flex-end;
  padding-right: 0.6rem;
}

.bold {
  font-weight: bold;
}

.buttomText {
  font-size: calc(6px + 2vmin) !important;
  margin-top: 0.5em;
}

.welcomeImage {
  max-width: 90%;
  height: auto;
}

.welcomeText {
  font-weight: bold;
  font-size: calc(27px + 2vmin);
}

.questionGrid {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40% 60%;
  grid-gap: 7px;
}

.questionOptionAling {
  justify-self: center;
  align-self: flex-start;
}

.questionImageAling {
  justify-self: center;
  align-self: center;
}

.questionImage {
  width: auto;
  height: 20vh;
  border-radius: 10%;
}

.questionText {
  font-weight: bold;
  font-size: calc(21px + 2vmin);
}

.optionsText {
  font-weight: bold !important;
  color: #f6c90e !important;
}

.widthPercentageBar {
  width: 80%;
}

@media (min-width: 420px) {
  .App {
    width: 85vw;
    border: 4px solid #f6c90e;
  }
  .alingRight {
    padding-right: 1rem;
  }
}

@media (min-width: 769px) {
  .App {
    width: 80vw;
    max-width: 1420px;
    border: 5px solid #f6c90e;
  }
  .alingRight {
    padding-right: 1.6rem;
  }
  .questionGrid {
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }
  .questionOptionAling {
    align-self: center;
  }
  .questionImage {
    height: 25vh;
  }
}
